.nav-link:hover  {
    background: lightblue;
    color: black ;
}

.header {
    background-image: url('desktop.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.header {
    background: #7caec6;
    /*background: linear-gradient(to left, #FFFFCC, #FF6633);*/
    background-attachment: fixed;
    background-size: cover;
}