.navbar {
	background: #000;
}

.navbar-collapse{
	justify-content: flex-center;
}

a {
	color: #FFF;
}

.primer1{ 
	color: #FFF;
}

.header {
	background-color: #7B68EE;
	height: 200px;
	margin-top: 10px;
}

.test {
	position: absolute;
	padding-top: 3%;
}

/*test*/
	

/* .nav-link:hover {
    background:	#7B68EE;	
} */

