/*Устанавливает навигационной панели белый цвет*/
.navbar {
    background: #FFF;
}

/*Все ссылки в панели черные*/
.navbar a {
    color: #000;
}

/*А при наведении белые*/
.nav-link a:hover {
    color: #FFF;
}

/*Все элементы списка друг от друга в 30 пикселях*/
.nav-link {
    margin-right: 3em;
}

/*При наведении на элементы списка будет фон алого цвета и шрифт белого*/
.nav-link:hover {
    background: #FF6633;
    color: #FFF;
}

/*Все элементы списка располагаются справа в навигационной панели*/
.navbar-collapse{
    justify-content: flex-end;
}

a, a:active:visited {
    color: #000;
}		

/*Шапка. 
background устанавливаются цвет фона, 
attachment ставит фиксированное положение (не может идти вместе со скроллингом), 
size масштабируется по всему блоку header
P.S. Если хотите, можете использовать картинку или градиент - я его закомментировал в коде*/
.header {
    background: #FF6633;
    /*background: linear-gradient(to left, #FFFFCC, #FF6633);*/
    background-attachment: fixed;
    background-size: cover;
}

.description {
    position: fixed;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.description h3 {
    color: #FFF;
}

.description p {
    color: #FFF;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}

.description button{
    border: 1px solid #F97300;
    background: #F97300;
    color: #fff;
}